.registration-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-sign-up {
  width: 100%;
  color: whitesmoke;
  background-color: #E76F51;
}
