<div class="registration-container">
  <h1>Sign up</h1>
  <form [formGroup]="formGroup" novalidate autocomplete="off" *ngIf="this.formGroup">
    <div class="form-field-container" *ngFor="let field of fields">
      <mat-form-field>
        <input matInput [type]="field.type" [name]="field.name"
               [placeholder]="field.label" formControlName="{{field.name}}"/>
        <mat-icon (click)="toggleVisibility($event)" class="pwd-icon" *ngIf="field.type === 'password' && !visibility">
          visibility
        </mat-icon>
        <mat-icon (click)="toggleVisibility($event)" class="pwd-icon" *ngIf="field.type === 'password' && visibility">
          visibility_off
        </mat-icon>
        <mat-error *ngIf="!formGroup.controls[field.name].valid && formGroup.controls[field.name].touched">
          {{!!formGroup.get(field.name).errors ? getError(field, formGroup.get(field.name).errors) : ''}}
        </mat-error>
      </mat-form-field>
    </div>
    <button class="btn-sign-up" mat-button type="submit" (click)="signUp(formGroup)"
            disabled="{{!formGroup.valid}}">
      Sign up
    </button>
  </form>
</div>
